body {
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url("https://user-images.githubusercontent.com/26748614/96337246-f14d4580-1085-11eb-8793-a86d929e034d.jpg");
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    backdrop-filter:  brightness(50%);
}

canvas {
    display: block;
    
}

#canvas_container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    z-index: 1;
}
nav img{
    height: 80px;
    
}
nav{
    color: white;
    display: flex;
    font-size:1.3rem;
    z-index: 3;
    position: relative;
    padding-left: 5vw;
    padding-top: 25px;
    justify-content: space-between;
    /* width: 100%; */
    padding-right: 5vw;
}
.img-div{
    display: flex;
}
h2 {
    background: -webkit-linear-gradient(rgb(234, 78, 255), rgb(62, 59, 244));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
 
/* button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 0.5rem 0.9em;
    background: #000000;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s;
}

button:hover {
    background: #ffffff;
    color: #000000;
} */
#connect-wallet
{
  padding: 10px 16px;
  border-radius: 15px;
  margin-top: 25px;
  font-size: 1rem;
  border: none;
  background: -webkit-linear-gradient(rgb(234, 78, 255), rgb(62, 59, 244));
  color: white;
}
